body{
    background-color: #8ea6ec;
}

.img {
    width: 100px;
    height: auto;
}

.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

.stopka {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
